<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Ver listado", "List")
        <hr />
        @RenderBody()
        <hr />
        <h3>Copyright 2018</h3>
    </div>
</body>
</html>
